body {
    background-color: #3F3F3F;
}

p {
    color: white;
    margin-left: 60px;
    font-size: 14px;
    font-style: italic;
}

.title {
    font: 20px;
    fill: white;
}

.x {
    fill: white;
    color: white;
}

.heatmapdailies {
    stroke-width: 0px;
    stroke: none;
    stroke-opacity: 0;
}